# Dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Environment variables
.env*
!.env.example

# Cache
.cache/
.tmp/
.next/
out/

# OS junk
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Typescript
*.tsbuildinfo
